<div class="overlay">
  <img src="assets/images/tilt.gif" alt="Tilt GIF" class="tilt-gif" />
</div>

<!-- +++++++++++ ROW 1 - NASLOVI +++++++++++ -->
<div class="naslovi">
  <div *ngIf="menu == 'studmenu'" class="col bordered-col">
    <h1 class="headline highlighted-{{ univerzitet?.naziv?.toLowerCase() }} m-2">{{ "STUDPRO.NASLOV" | translate }}</h1>
    <p>{{ "STUDPRO.PODNASLOV" | translate }}</p>
  </div>
  <div *ngFor="let ishod of ishodi">
    {{ ishod.id }}
  </div>

  <div *ngIf="menu != 'studmenu'" class="col bordered-col naslovi text-center">
    <h1 class="highlighted-{{ univerzitet?.naziv?.toLowerCase() }}">{{ selectedStudPro?.naziv ?? '' | translate }}</h1>
    <div class="podnaslov text-start">
      <p>
        {{ selectedStudPro?.opis ?? "" | translate}}
      </p>
      <h3 class="text-center">{{ "STUDPRO.PREDMET.RUKOVODIOC" | translate }}</h3>
      <p>{{selectedStudPro?.rukovodilac?.biografija ?? "" | translate}}</p>
      <div *ngIf="!silabus" class="div">
        <h3 class="text-center">{{ "STUDPRO.PREDMET.NASLOV" | translate }}</h3>
        <p class="text-center">{{ "STUDPRO.PREDMET.PODNASLOV" | translate }}</p>
      </div>
      <div *ngIf="silabus" class="div">
        <h3 class="text-center">{{ "STUDPRO.SILABUS" | translate }}</h3>
      </div>
    </div>
  </div>

  <div *ngIf="menu == 'studmenu'">
    <!-- ROW 2 -->
    <div class="row bordered-row d-flex ordered-row">
      <div class="col bordered-col text-nowrap" *ngFor="let studPro of studijskiProgrami">
        <h3 (click)="studProChoice(studPro)" class="naslovi hover-style">{{ studPro.naziv | translate }}</h3>
      </div>
    </div>
    <div class="col text-center m-3 bordered-col">
      <a [routerLink]="['/faculties', fakultetId]">
        <img class="btn-img" src="assets/images/back_button.png" (click)="mainMenu()" alt="Button Image" />
      </a>
    </div>
  </div>

  <div *ngIf="menu == 'predmet'">
    <div class="col-12 d-flex gentable justify-content-center bordered-col">
      <app-studPro-table
      [univerzitetNaziv]="univerzitet?.naziv ?? null"
        *ngIf="showGenericTable"
        table="predmeti"
        [colLimit]="['naziv', 'espb', 'preduslov']"
        [dataLimit]="{ studijskiProgramId: selectedStudPro?.id ?? 0 } "
        [table2ColLimits]="['naziv', 'obrazovniCilj']"
        table2="ishodi"
        [dataLimit2]="'silabus'"
        (menuChoice)="silabusChoice()"></app-studPro-table>
    </div>
    <!-- ROW 3 -->
    <div class="row bordered-row">
      <div class="col-12 text-center bordered-col">
        <div *ngIf="silabus" class="text-center m-3">
          <img class="btn-img" src="assets/images/back_button.png" (click)="reloadGenericTable()" alt="Button Image" />
        </div>
        <div *ngIf="menu == 'predmet' && !silabus" class="text-center m-3">
          <img class="btn-img" src="assets/images/back_button.png" (click)="mainMenu()" alt="Button Image" />
        </div>
      </div>
    </div>
  </div>
</div>
