
.container-fluid {
  height: 100%;
  overflow-y: auto; 
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other content */
}

.tilt-gif {
  max-width: 80%;
  max-height: 80%;
}

@media (max-width: 600px) {
  .overlay {
      display: flex;
  }
}

.naslovi {
  color: white;
}

.hover-style {
  transition: all 0.3s ease; 
}

.hover-style:hover {
  color: #000000;
  background-color: #f0f0f0; 
  font-weight: bold; 
  cursor: default;
}

.podnaslov {
  text-align: center;
  width: 65%;
  margin: 0 auto; 
}
