<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reg Home</title>
  </head>
  <body>
    <div class="bg-image d-flex align-items-center justify-content-center" style="background-image: url('assets/images/homepage/homepage_background.jpg'); height: 100vh">
      <div class="container-fluid text-center text-light d-flex flex-column justify-content-between h-100 bordered-container">
        <nav class="off-nav navbar navbar-dark fixed-top">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Портал Знање</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column">
              <ul class="navbar-nav justify-content-start align-items-start flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Почетна страница</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Форум</a>
                </li>
<<<<<<< HEAD
                <a *ngIf="!userId" class="nav-link" [routerLink]="['/auth']">Пријава/Регистрација</a>
                <a *ngIf="userId" class="nav-link"  (click)="logout()">Log out</a>
=======
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/auth']">Пријава/Регистрација</a>
                </li>
>>>>>>> 440ee15d40b3fc45cbb288484dbc2da777077500
              </ul>
              <div class="mt-auto text-start">
                <img class="btn-img back-button" src="assets/images/uk.png" />
                <img class="btn-img back-button" src="assets/images/srb.png" />
              </div>
            </div>
          </div>
        </nav>

        <!-- +++++++++++ MAIN ROW +++++++++++ -->
        <div class="row bordered-row d-flex justify-content-center align-items-left h-100">
          <!-- +++++++++++ NASLOV ROW +++++++++++  -->
          <div class="row bordered-row">
            <div class="d-flex align-items-center justify-content-center">
              <nav class="on-nav navbar navbar-expand navbar-dark bg-transparent">
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['myProfile']">Мој Профил</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['mySubjects']">Моји Предмети</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>

          <!-- +++++++++++ COMP ROW +++++++++++  -->
          <div class="row comp-row bordered-row">
            <div class="col-12 d-flex justify-content-center bordered-col">
              
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
