@import "../../styles.css";

.container-fluid {
  height: 100%;
  width: 100%;
}
.onama {
  max-width: 1000px;
  background-color: rgb(65, 47, 69, 0.8);
}
.mainmenu-card {
  background-color: rgb(65, 47, 69, 0.85);
}
.card-text,
.card-header,
.card-list {
  color: white;
}
/* .fixed {
  position: fixed;
} */
.card-text {
  font-size: large;
}
.router-link-bg-image {
  min-height: 100vh;
  position: static !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
