@import "../../styles.css";

/* Main Color #1E2655 */
/*amareth #A93F55*/

.menu{ 
  background-color: rgb(169, 63, 85, 0.8);
}
.btn {
  color: white;
  background-color: #A93F55;
  border-color: transparent;
}

.card-text,
.card-header,
.card-list,
.card-naziv {
  color: white;
}

.choicecard {
  max-width: 450px;
  position: relative;
  background-color: transparent; 
  border: none;
}

.naslovi,
.prijava {
  stroke-width: 3%;
  animation: fadeIn 1s ease-in-out;
  z-index: 9999; 
}

.highlighted {
  position: relative;
  display: inline-block;
  color: white;
  z-index: 1;
  animation: fadeIn 1s ease-in-out; 
}
.highlighted::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 70%;
  background-color: #a93f55;
  transform: translate(-50%, -50%) translate(-10px, -10px); 
  z-index: -1;
  padding: 5px 10px; 
}
