<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="bg-image d-flex align-items-center justify-content-center" style="background-image: url('assets/images/homepage/homepage_background.jpg'); height: 100vh">
      <div class="container-fluid text-center text-light d-flex flex-column justify-content-between h-100 bordered-container">
        <nav class="navbar navbar-dark fixed-top">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Портал Знање</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column">
              <ul class="navbar-nav justify-content-start align-items-start flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Почетна страница</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Форум</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/auth']">Пријава/Регистрација</a>
                </li>
              </ul>
              <div class="mt-auto text-start">
                <img class="btn-img back-button" (click)="switchLanguage('en')" src="assets/images/uk.png" />
                <img class="btn-img back-button" (click)="switchLanguage('sr')" src="assets/images/srb.png" />
              </div>
            </div>
          </div>
        </nav>
        <!-- +++++++++++ MAIN ROW +++++++++++ -->
        <div class="row bordered-row d-flex justify-content-center align-items-center h-100">
          <!-- +++++++++++ ROW 1 - NASLOVI +++++++++++ -->
          <div class="naslovi row bordered-row">
            <div class="col bordered-col">
              <div *ngIf="uniMenu">
                <h1 class="headline highlighted m-2">{{ "HOME.UNI" | translate }}</h1>
              </div>
              <div *ngIf="!uniMenu">
                <h1 class="headline highlighted m-2">{{ "HOME.WELCOME" | translate }}</h1>
              </div>
            </div>
          </div>
          <!-- +++++++++++ ROW 2 +++++++++++ -->
          <div class="row bordered-row">
            <!-- +++++++++++ Main Menu +++++++++++ -->
            <div *ngIf="!uniMenu" class="card-deck d-flex justify-content-center flex-column flex-md-row">
              <div class="col-12 col-md-4 bordered-col d-flex justify-content-center">
                <div class="card fs-60 menu hover-brighten m-3" (click)="uniSelectionMenu()">
                  <img class="card-img" [src]="'HOME.IMG.UNICARD' | translate" />
                  <p class="card-text d-none d-lg-block d-md-none">
                    {{ "HOME.UNICARD" | translate }}
                  </p>
                </div>
              </div>

              <div class="col-12 col-md-3 bordered-col d-flex justify-content-center">
                <div class="card border-0 fs-50 logo">
                  <img src="assets/images/app_logo.png" />
                </div>
              </div>

              <div class="col-12 col-md-4 bordered-col d-flex justify-content-center">
                <div class="card fs-60 menu hover-brighten m-3">
                  <img class="card-img" [src]="'HOME.IMG.FORUMCARD' | translate" />
                  <p class="card-text d-none d-lg-block d-md-none">
                    {{ "HOME.FORUMCARD" | translate }}
                  </p>
                </div>
              </div>
            </div>

            <!-- +++++++++++ Unicards +++++++++++ -->
            <div *ngIf="uniMenu">
              <div class="card-deck d-flex justify-content-center flex-column flex-md-row">
                <div class="col-12 col-md-4 bordered-col d-flex justify-content-center" *ngFor="let univerzitet of univerziteti">
                  <div class="card unicard choicecard menu fs-60 highlighted m-3">
                    <div class="card-naziv">{{ univerzitet.naziv | translate }}</div>
                    <a [routerLink]="['/unihome', univerzitet.id]">
                      <div class="card m-1" (click)="selectUniversity(univerzitet)">
                        <img class="card-img hover-brighten" [src]="'assets/images/univerziteti/unicards/' + univerzitet.naziv.toLowerCase() + '.jpg'" />
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-12 text-center bordered-col">
                <img class="btn-img back-button" (click)="backToMainMenu()" src="assets/images/back_button.png" alt="Button Image" />
              </div>
            </div>
          </div>
          <!-- +++++++++++ ROW 3 +++++++++++ -->
          <div class="row bordered-row">
            <div class="col bordered-col">
              <button *ngIf="!this.userId" class="btn" [routerLink]="['/auth']">{{ "HOME.AUTH" | translate }}</button>
              <button *ngIf="this.userId" class="btn" [routerLink]="['/auth']">{{ "HOME.PROFILE" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
