

/* LOGO SIZE */
@media (max-width: 800px) or (max-height: 450px) {
  .fs-50 {
    width: 50%;
  }
}
@media (max-width: 800px) or (max-height: 450px) {
  .fs-75 {
    width: 75%;
  }
}
@media (max-width:800px) or (max-height: 450px)   {
  .fs-80 {
    width: 80%;
  }
}



/* FONT SIZE */
@media (max-width: 1200px) {
  .fs-responsive {
    font-size: 1.25rem; 
  }
}

@media (max-width: 992px) {
  .fs-responsive {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .fs-responsive {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .fs-responsive {
    font-size: 0.75rem;
  }
}




@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
.bordered-col{
    border: dashed red;
  }
  .bordered-row{
    border: solid blue;
  } 
  .bordered-container{
    border: solid green;
  } */
  

.choicecard {
  max-width: 450px;
  position: relative;
  background-color: transparent;
  border: none;
}
.card-naziv {
  color: white;
}
.logo {
  background-color: rgba(255, 255, 255, 0);
  max-width: 400px;
}
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure it is behind other content */
}

.container-fluid {
  height: 100%;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

.btn-img {
  width: 40px;
  height: 40px;
}

.card-text {
  padding: 10px;
  text-align: left;
}

.card,
.card-naziv,
.naslovi,
.podnaslov,
.btn,
.h1,
.h2,
.h3,
.btn-img {
  animation: fadeIn 1s ease-in-out;
}

.card {
  max-width: 450px;
  position: relative;
}

.card-naziv {
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.hover-brighten {
  transition: all 0.3s ease;
}

.hover-brighten:hover {
  filter: brightness(80%);
}

/*         AEGIS          */

.onama-aegis {
  max-width: 1000px;
  background-color: rgb(65, 47, 69, 0.8);
}
.mainmenu-card-aegis {
  background-color: rgb(65, 47, 69, 0.85);
}
.highlighted-aegis {
  position: relative;
  display: inline-block;
  color: white;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}
.highlighted-aegis::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 70%;
  background-color: #412f45cc;
  transform: translate(-50%, -50%) translate(-10px, -10px);
  z-index: -1;
  padding: 5px 10px;
}

/*         ASTRUM          */

.onama-astrum {
  max-width: 1000px;
  /* color: 371116; */
  background-color: rgb(55, 17, 22, 0.8);
}
.mainmenu-card-astrum {
  background-color: rgb(236, 28, 36, 0.85);
}
/* color: #ec1c24;
  background-color:  rgb(236, 28, 36, 0.85); */
.highlighted-astrum {
  position: relative;
  display: inline-block;
  color: white;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}
.highlighted-astrum::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 70%;
  background-color: #ec1c24;
  transform: translate(-50%, -50%) translate(-10px, -10px);
  z-index: -1;
  padding: 5px 10px;
}

/*         STELLA          */

.onama-stella {
  max-width: 1000px;
  background-color: rgb(73, 17, 32, 0.8);
}
.mainmenu-card-stella {
  background-color: rgb(73, 17, 32, 0.85);
}

.highlighted-stella {
  position: relative;
  display: inline-block;
  color: white;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}
.highlighted-stella::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 70%;
  background-color: #491120;
  transform: translate(-50%, -50%) translate(-10px, -10px);
  z-index: -1;
  padding: 5px 10px;
}
