<div class="row bordered-row d-flex justify-content-center align-items-left h-100">
    <!-- +++++++++++ NASLOV ROW +++++++++++  -->
    <div class="row bordered-row">
      <div class="d-flex align-items-center justify-content-center">
        <nav class="on-nav navbar navbar-expand navbar-dark bg-transparent">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"  routerLinkActive="active" [routerLink]="['main']">Pregled silabusa</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- +++++++++++ COMP ROW +++++++++++  -->
    <div class="row comp-row bordered-row">
      <div class="col-12 d-flex justify-content-center bordered-col">
        
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>