:root {
  --backColor: white;
  --fontColor: black;
}
.ag-theme-quartz {
  width: 800px;
  --ag-foreground-color: white;
  --ag-background-color: var(--backColor);

}
@media (max-width: 800px) {
  .ag-theme-quartz {
    width: 100%;
  }
}
