@import "../../styles.css";


.btn {
  color: #ffa552;
}

.aegis-bg {
  animation: fadeIn 0.5s ease-in-out;
}

.card-text,
.card-header,
.card-list {
  color: white;
}
.fixed {
  position: fixed;
}


