<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="bg-image" style="background-image: url('assets/images/homepage/homepage_background.jpg')">
      <div class="bg-image aegis-bg d-flex align-items-center justify-content-center" style="background-image: url('{{ bg_url }}');">
        <div class="container-fluid text-center text-light d-flex flex-column justify-content-between h-100 bordered-container">
          <!-- +++++++++++ NAV BAR +++++++++++ -->
          <nav class="navbar navbar-dark fixed-top">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 *ngIf="univerzitet" class="offcanvas-title" id="offcanvasDarkNavbar">{{ univerzitet.naziv }} Универзитет</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body  d-flex flex-column">
                  <ul class="navbar-nav justify-content-start align-items-start flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#">Назад на Портал Знање</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Форум</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/auth']">Пријава/Регистрација</a>
                    </li>
                  </ul>
                  <div class="mt-auto  text-start">
                    <img class="btn-img back-button" (click)="switchLanguage('en')" src="assets/images/uk.png" />
                    <img class="btn-img back-button" (click)="switchLanguage('sr')" src="assets/images/srb.png" />
                  </div>
                </div>
              </div>
            </div>
          </nav>

          <!-- +++++++++++ MAIN ROW +++++++++++ -->
          <div *ngIf="menu == 'mainmenu'" class="row bordered-row d-flex justify-content-center align-items-center h-100">
            <!-- +++++++++++ ROW 1 - NASLOVI +++++++++++ -->
            <div class="naslovi row bordered-row">

              <div *ngIf="univerzitet" class="col bordered-col">
                
                <div *ngIf="facMenu">
                  <h1 class="headline highlighted-{{ univerzitet.naziv.toLowerCase() }} m-2">{{ "UNIHOME.CHOOSEFAC" | translate }}</h1>
                </div>

                <div *ngIf="!facMenu">
                  <h1 class="headline highlighted-{{ univerzitet.naziv.toLowerCase() }} m-2">{{ "UNIHOME.WELCOME" | translate }}</h1>
                </div>
              </div>
            </div>
            <!-- +++++++++++ ROW 2 +++++++++++ -->
            <div class="row bordered-row">
              <!-- +++++++++++ Main Menu +++++++++++ -->
              <div *ngIf="!facMenu && univerzitet" class="card-deck d-flex justify-content-center flex-column flex-md-row">
                <div class="col-12 col-md-4 bordered-col d-flex justify-content-center">
                  <div class="card hover-brighten mainmenu-card-{{ univerzitet.naziv.toLowerCase() }} m-3" (click)="facSelectionMenu()">
                    <img class="card-img" [src]="'UNIHOME.IMG.FACULTY' | translate" />
                    <p class="card-text d-none d-lg-block d-md-none">{{ "UNIHOME.FACULTY" | translate }}</p>
                  </div>
                </div>

                <div class="col-12 col-md-3 bordered-col d-flex justify-content-center">
                  <div class="card border-0 fs-75 logo">
                    <img [src]="'assets/images/univerziteti/' + univerzitet.naziv.toLowerCase() + '/' + univerzitet.naziv.toLowerCase() + '_logo.png'" />
                  </div>
                </div>

                <div class="col-12 col-md-4 bordered-col d-flex justify-content-center">
                  <div class="card hover-brighten mainmenu-card-{{ univerzitet.naziv.toLowerCase() }} m-3">
                    <img class="card-img" [src]="'UNIHOME.IMG.ONAMA' | translate" (click)="onamaMenu()" />
                    <p class="card-text d-none d-lg-block d-md-none">
                      {{ "UNIHOME.ONAMA" | translate }}
                    </p>
                  </div>
                </div>
              </div>

              <!-- +++++++++++ FacCards +++++++++++ -->
              <div *ngIf="facMenu">
                <div class="col bordered-col">
                  <div class="card-deck d-flex justify-content-center flex-column flex-md-row">
                    <div class="col-12 col-md-4 bordered-col d-flex justify-content-center" *ngFor="let fak of fakulteti">
                      <div class="card choicecard fs-60 highlighted menu m-3">
                        <div class="card-naziv text-nowrap fs-responsive">
                          {{ fak.naziv | translate }}
                        </div>
                        <a [routerLink]="['/faculties', fak.id]">
                          <div class="card m-1" (click)="selectFaculty(fak)">
                            <img class="card-img hover-brighten" [src]="'assets/images/fakulteti/facCards/' + fak.naziv + '.jpg'" /></div
                        ></a>
                      </div>
                    </div>
                  </div>
             
                </div>
              </div>
            </div>
   

            <!-- +++++++++++ ROW 3 +++++++++++ -->
            <div class="row bordered-row">
              <div *ngIf="!facMenu" class="col-12 text-center bordered-col">
                <a [routerLink]="['/homepage', 'um']"> <img class="btn-img" src="assets/images/back_button.png" alt="Button Image" /></a>
              </div>
              <div *ngIf="facMenu" class="col-12 text-center bordered-col">
                <img class="btn-img" (click)="resetSelection()" src="assets/images/back_button.png" alt="Button Image" />
              </div>
            </div>
          </div>

          <!-- +++++++++++ ONAMA - MAIN ROW +++++++++++ -->
          <div *ngIf="menu == 'onama'" class="row bordered-row d-flex justify-content-center align-items-center h-100">
            <!-- +++++++++++ OPIS ROW +++++++++++ -->
            <div class="row bordered-row">
              <!-- +++++++++++ OPIS CARD DECK ROW +++++++++++ -->
              <div class="container mt-5 text-start">
                <div class="row bordered-row">
                  <div class="col-2 bordered-col">
                    <img class="btn-img fixed" (click)="mainMenu()" src="assets/images/back_button.png" alt="Button Image" />
                  </div>
                  <div class="col-8 bordered-col">
                    <div class="d-flex align-items-center justify-content-center">
                      <div *ngIf="univerzitet" class="card onama-{{ univerzitet.naziv.toLowerCase() }}">
                        <div *ngFor="let onama of oNama">
                          <h3 class="card-header text-start">{{ onama.header }}</h3>
                          <p class="card-text">
                            {{ onama.content }}
                          </p>
                        </div>
                        <h3 class="card-header text-start">{{"CONTACT.H" | translate}}</h3>
                        <ul *ngIf="univerzitet" class="card-list">
                          <li>{{"CONTACT.ADRESS" | translate}} {{ univerzitet.adresa.mesto.naziv }} {{ univerzitet.adresa.ulica }} {{ univerzitet.adresa.broj }}</li>
                          <li>{{"CONTACT.PHONE" | translate}} {{ univerzitet.brojTelefona }}</li>
                          <li>{{"CONTACT.EMAIL" | translate}} {{ univerzitet.email }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
