<div class="row">
  <button (click)="setMenu('passed')" class="btn col tablename">Položeni</button> <button (click)="setMenu('nonPassed')" class="btn col tablename">Nepoloženi</button>
  <div class="col-7"></div>
</div>

<div *ngIf="menu == 'passed'" class="row">
  <app-history-table class="col" table="passed"></app-history-table>
</div>

<div class="row">
  <app-history-table class="col" *ngIf="menu == 'nonPassed'" table="nonPassed"></app-history-table>
</div>
