<div *ngIf="forma != undefined && details != undefined">
  <form [formGroup]="forma">
    <div *ngFor="let fcName of returnKeys(forma); index as i">
      <div class="form-group text m-2 row">
<<<<<<< HEAD
        <label class="col-2 col-form-label">{{ details[i].input_label ? details[i].input_label : fcName }} </label>
=======
        <label class=" col-5 col-form-label">{{ details[i].input_label ? details[i].input_label : fcName }} </label>

>>>>>>> 440ee15d40b3fc45cbb288484dbc2da777077500
        <div *ngIf="details[i].input_type == 'bool'" class="col">
          <input
            formControlName="{{ fcName }}"
            class="form-check-input"
            type="checkbox"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />
        </div>
        <div *ngIf="details[i].input_type == 'number'" class="col">
          <input
            formControlName="{{ fcName }}"
            class="form-control"
            type="number"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.min]="details[i].input_num_min ? details[i].input_num_min : null"
            [attr.max]="details[i].input_num_max ? details[i].input_num_max : null"
            [attr.step]="details[i].input_num_step ? details[i].input_num_step : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />
        </div>
        <div *ngIf="details[i].input_type == 'text'" class="col">
          <input
            formControlName="{{ fcName }}"
            class="form-control"
            type="text"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.pattern]="details[i].input_pattern ? details[i].input_pattern : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />
        </div>
        <div *ngIf="details[i].input_type == 'jmbg'" class="col">
          <input
            formControlName="{{ fcName }}"
            class="form-control"
            type="text"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.pattern]="details[i].input_pattern ? details[i].input_pattern : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />

          <div *ngIf="forma?.get('jmbg')?.invalid && (forma?.get('jmbg')?.dirty || forma?.get('jmbg')?.touched)">
            <div *ngIf="forma?.get('jmbg')?.errors?.['required']">This field is required.</div>
            <div *ngIf="forma?.get('jmbg')?.errors?.['pattern']">Must be exactly 13 digits.</div>
          </div>
          
        </div>
        <div *ngIf="details[i].input_type == 'textarea'" class="col">
          <textarea
            formControlName="{{ fcName }}"
            class="form-control"
            type="textarea"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.pattern]="details[i].input_pattern ? details[i].input_pattern : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null"
            rows="6"
            cols="40"></textarea>
        </div>

        <div *ngIf="details[i].input_type == 'tel'" class="col">
          <input
            formControlName="{{ fcName }}"
            class="form-control"
            type="tel"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.pattern]="details[i].input_pattern ? details[i].input_pattern : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />
        </div>
        <div *ngIf="details[i].input_type == 'email'" class="col">
          <input
            formControlName="{{ fcName }}"
            class="form-control"
            type="email"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.pattern]="details[i].input_pattern ? details[i].input_pattern : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />

            <div *ngIf="forma?.get('email')?.invalid && (forma?.get('email')?.dirty || forma?.get('email')?.touched)">
              <div *ngIf="forma?.get('email')?.errors?.['required']">Неопходно поље</div>
              <div *ngIf="forma?.get('email')?.errors?.['email']">Нодговарајући формат</div>
            </div>
          
        </div>
        <div *ngIf="details[i].input_type == 'url'" class="col">
          <input
            *ngIf="details[i].input_type == 'url'"
            formControlName="{{ fcName }}"
            class="form-control"
            type="url"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.pattern]="details[i].input_pattern ? details[i].input_pattern : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />
        </div>
        <div *ngIf="details[i].input_type == 'password'" class="col">
          <input
            formControlName="{{ fcName }}"
            class="form-control"
            type="password"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.pattern]="details[i].input_pattern ? details[i].input_pattern : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />
        </div>
        <div *ngIf="details[i].input_type == 'date'" class="col">
          <input
            formControlName="{{ fcName }}"
            class="form-control"
            type="date"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null" />
        </div>
        <div *ngIf="details[i].input_type == 'select' && details[i].input_options" class="col">
          <select
            formControlName="{{ fcName }}"
            class="form-control"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null">
            <option *ngFor="let opt of details[i].input_options; index as j" value="{{ opt }}">{{ opt.naziv }}</option>
          </select>
        </div>

        <div *ngIf="details[i].input_type == 'select-object' && details[i].input_options" class="col">
          <select
            formControlName="{{ fcName }}"
            class="form-control"
            [attr.value]="details[i].input_value ? details[i].input_value : null"
            [attr.id]="details[i].input_id ? details[i].input_id : null"
            [attr.readonly]="readonly ? '' : null">
<<<<<<< HEAD
            <option *ngFor="let opt of details[i].input_options; index as j" [ngValue]="opt.id">{{ opt.naziv }}</option>
=======
            <option *ngFor="let opt of details[i].input_options; index as j" [ngValue]="opt">{{ opt.naziv?opt.naziv:opt.opis }}</option>
>>>>>>> 440ee15d40b3fc45cbb288484dbc2da777077500
          </select>
        </div>

        <input *ngIf="details[i].input_type == 'ignore'" type="text" formControlName="{{ fcName }}" name="" id="" />
      </div>
    </div>
    <div class="col">
      <div *ngIf="readonly == false">
        <button class="btn m-2" (click)="submit()" [disabled]="forma.invalid">Submit</button>
        <button class="btn m-2" (click)="cancel()">Cancel</button>
      </div>
      <button *ngIf="readonly == true" class="btn m-2" (click)="edit()">Edit</button>
    </div>
  </form>
</div>
<div *ngIf="forma == undefined">Missing form group</div>
<div *ngIf="details == undefined">Missing form group details</div>
